#jinja2:lstrip_blocks: True
# {{ ansible_managed }}
{#
This is a macro used to unroll the nested structure:
Dictionaries are unrolled like this:

dict:
  header1:
    key1: val1
    key2: val2
  header2:
    key3: val3
    key4: val4
    key5:
      - listitem1
      - listitem2
      - listitem3

#### Result: ####
[header1]
key1                          = val1
key2                          = val2

[header2]
key3                          = val3
key4                          = val4
key5                          = listitem1, listitem2, listitem3
dev hints:
- The {{- removes unnecessary indenting of deeply nested structures
- The -}} removes extra newlines
#}
{% macro funroll_loops(var) %}
  {% for key, value in var.items() | sort %}
    {% if value is mapping %}
      {{- '' }}[{{ key }}]
      {# spacer #}
      {{- funroll_loops( value ) }}
    {% elif value is iterable and value is not string %}
    {{- key.ljust(24) }}={{' '}}
      {%- for i in value %}
        {{- i|string }}{{ ", " if not loop.last else "\n" -}}
      {% endfor %}
    {% elif value|string == 'True' or value|string == 'False' %}
      {{- key.ljust(24) }}= {{ 'yes' if value else 'no' }}
    {% elif value is number %}
      {{- key.ljust(24) }}= {{ value|string }}
    {% elif value is none %}
      {{- key.ljust(24) }}=
    {% else %}
      {{- key.ljust(24) }}= {{ value }}
    {% endif %}
  {% endfor %}
{%- endmacro %}
{% if unroll is defined and unroll is mapping %}
{{ funroll_loops( unroll ) }}
{%- endif %}
