#jinja2:lstrip_blocks: True
# {{ ansible_managed }}
steps:
  - mkimg: '{{ bootstrap_vm.image_path }}'
    size: {{ bootstrap_vm.disk_size }}
  - mklabel: msdos
    device: '{{ bootstrap_vm.image_path }}'
  - mkpart: primary
    device: '{{ bootstrap_vm.image_path }}'
    start: 0%
    end: 100%
    tag: root
  - kpartx: '{{ bootstrap_vm.image_path }}'
  - mkfs: ext4
    partition: root
  - mount: root
  - debootstrap: '{{ bootstrap_vm.target_release }}'
    mirror: '{{ bootstrap_vm[bootstrap_vm.target_release]['debmirror'] | default( bootstrap_vm.debmirror ) }}'
    {% if bootstrap_vm[bootstrap_vm.target_release]['keyring'] is defined %}
    keyring: "{{ bootstrap_vm[bootstrap_vm.target_release]['keyring'] }}"
    {% endif %}
    target: root
    variant: minbase
  - apt: install
    packages:
      {% if bootstrap_vm[bootstrap_vm.target_release]['release_num'] <= 8 %}
      - python-apt
      {% else %}
      - python3-apt
      {% endif %}
      - autopkgtest
      - iproute2
      - less
      - libpam-systemd
      - linux-image-amd64
      - network-manager
      {% if bootstrap_vm[bootstrap_vm.target_release]['release_num'] >= 9 %}
      {# Don't install openssh-server on jessie, debootstrap will start
         it in the chroot. TODO: Debug issue (policy-rc.d?) and remove this
         conditional #}
      - openssh-server
      {% endif %}
      - qemu-guest-agent
      - sed
      - vim
    recommends: false
    tag: root
  - grub: bios
    tag: root
    console: serial

  - chroot: root
    shell: |-
      # set root password for easy debugging
      passwd --delete root
      useradd --home-dir /home/user --create-home user
      passwd --delete user
      # add root auth key
      {% if bootstrap_vm.authorized_keys is defined %}
      [ -d /root/.ssh ] || mkdir /root/.ssh/
      echo '{{ bootstrap_vm.authorized_keys }}' > /root/.ssh/authorized_keys
      {% endif %}
      # Set hostname and name resolution
      echo "{{ vm_name }}" > /etc/hostname
      echo '127.0.1.1\t{{ vm_name }}' >> /etc/hosts
      {% if bootstrap_vm[bootstrap_vm.target_release]['release_num'] >= 9 %}
      {# Skip on jessie, don't have openssh server on there #}
      sed -i -e 's/#PermitRootLogin.*/PermitRootLogin yes/;s/#PermitEmptyPasswords.*/PermitEmptyPasswords yes/' /etc/ssh/sshd_config
      {% endif %}
      {% if bootstrap_vm.apt_proxy is defined %}
      echo 'Acquire::http::Proxy "{{ bootstrap_vm.apt_proxy }}";' > /etc/apt/apt.conf.d/02proxy
      {% endif %}
      echo '{{ bootstrap_vm[bootstrap_vm.target_release]['sources_list'] | regex_replace( '\\n', '\\\\n', multiline=True ) }}' > /etc/apt/sources.list

  - chroot: root
    shell: |-
      /usr/bin/apt update || /usr/bin/apt-get update
      # set up serial console for autopkgtest-virt-qemu
      export AUTOPKGTEST_BUILD_QEMU=1
      export AUTOPKGTEST_KEEP_APT_SOURCES=1
      export AUTOPKGTEST_IS_SETUP_COMMAND=1
      {% if bootstrap_vm[bootstrap_vm.target_release]['release_num'] >= 9 %}
      {# Skip on jessie or older, doesn't exist there #}
      /usr/share/autopkgtest/setup-commands/setup-testbed "$ROOT"
      {% endif %}

  # dist-upgrade within the chroot, as it fails via ansible/guest-agent
  # when the guest agent gets upgraded (the connection is lost)
  - chroot: root
    shell: |-
      apt-get update
      # set debconf setting, otherwise whiptail will wait for input,
      # or grub-pc postinst will error out
      echo 'grub-pc grub-pc/install_devices_empty   boolean true' | debconf-set-selections
      DEBIAN_FRONTEND=noninteractive DEBCONF_NONINTERACTIVE_SEEN=true apt-get -y dist-upgrade

  - shell: |-
      rootdev=$(ls -1 /dev/mapper/loop* | sort | tail -1)
      uuid=$(blkid -c /dev/null -o value -s UUID "$rootdev")
      echo "UUID=$uuid / ext4 errors=remount-ro 0 1" > "$ROOT/etc/fstab"
    root-fs: root
